# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.pyo
*.pyc

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# PyCharm
.idea/

# VS Code
.vscode/

# Local env files
.env
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
